:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  width: fit-content;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  border: none;
  outline: transparent 1px solid;
  padding: 0.6em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.25s, outline 0.25s ease-in-out;
}
button:hover,
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  /* background-color: #1d1d1d; */
  outline: 1px solid #747bff;
}


